
<app-slider 
  [slides$]="slides$" 
  [slidesToShow]="3"
  [slidesToScroll]="1"
  [autoplaySpeed]="2700"
  [sliderName]="'slider_1'"
></app-slider>

<app-slider 
  [slides$]="slides$" 
  [slidesToShow]="4"
  [slidesToScroll]="2"
  [autoplaySpeed]="5000"
  [sliderName]="'slider_2'"
></app-slider>

<app-slider 
  [slides$]="slides$" 
  [slidesToShow]="5"
  [slidesToScroll]="3"
  [autoplaySpeed]="1500"
  [sliderName]="'slider_3'"
></app-slider>