<div #slider id="slider" *ngIf="slides$ | async as slides"
  [style.transform]="'translateX(' + currentPosition + 'px)'">
  <a #slideItem [href]="slide.url" class="slide" *ngFor="let slide of slides; trackBy: trackBySlide">
    <img [src]="slide.image" alt="Slide {{slide.id}}"
    [style.width]="slideWidth + 'px'">
  </a>
</div>
